*.log
CONTRIBUTORS/IIITM/Second_Year/Varun_Tiwari/info.md
CONTRIBUTORS/NSCET/First_Year/Mukilan/info.md
CONTRIBUTORS/IIITA/Second_Year/Ritwik Rajput/info.md
CONTRIBUTORS/IIITA/Second_year/Aditi Yadav/Info.md
CONTRIBUTORS/IIITA/Second_Year/Raghav Goel/info.md
CONTRIBUTORS/IIITA/Second_year/YASH JAIN/info.md
CONTRIBUTORS/IIITA/Second_Year/Pranavi Tadivalasa/info.md
CONTRIBUTORS/IIITA/Second_year/AmanVerma/Info.md
