*.log
CONTRIBUTORS/IIITM/Second_Year/Varun_Tiwari/info.md
CONTRIBUTORS/IIITA/Second_Year/Ritwik Rajput/info.md
CONTRIBUTORS/NSCET/First_Year/Mukilan/info.md
CONTRIBUTORS/IIITA/Second_year/Aditi Yadav/Info.md
